.titulo
{
  color: #000;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold
}

.subtitulo
{
  color: #000;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold
}

.texto
{
  color: #000;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 17px;
}

#sfWebDebug {
    display : none;
}
.etiquetas
{
  color: #000;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
