a img,:link img,:visited img { border: none; }

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}
body {
	height: 100%;
}
body, td
{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
}

div.error {

  color: red;
  border: 1px dashed;
}
/* info en la cabecera */
table.user-info td {
  font-size: 10px;
}
li {}
ul {
  padding-left: 10px;
}


div#indicator-wrapper
{
  display: none;
  width: 100%;
  height: 100%;
  background: url(../images/bg-blanco-80-porciento.png);
  position: fixed;
  top: 0;
  left: 0;
}

div#indicator
{
  font-weight: bold;
  text-align: center;
  color: #464646;
  width: 200px;
  height: 40px;
  margin: 160px auto 0;
  background: url("../images/1348674497142.gif") no-repeat center bottom;
}

div.pageBreak { page-break-before: always; }

div.etiqueta {
  margin-top: 10px;
}
div.etiqueta div {
  display: inline;
  background-color:#FFEEDD;
  border: 1px solid #FF8855;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
div.etiqueta div img {
  line-height: 30px;
}
