a img,:link img,:visited img { border: none; }

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

body, td
{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
}

div.error {

  color: red;
  border: 1px dashed;
}
/* info en la cabecera */
table.user-info td {
  font-size: 10px;
}
li {}
ul {
  padding-left: 10px;
}


div#indicator
{
  display: none;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
  position: absolute;
  right: 10px;
  top: 58px;
  width: 220px;
  height: 19px;
  background: url("../images/indicator.gif") no-repeat 0 0;
  x-moz-alpha: .5;
}

div.pageBreak { page-break-before: always; }

div.etiqueta {
  margin-top: 10px;
}
div.etiqueta div {
  display: inline;
  background-color:#FFEEDD;
  border: 1px solid #FF8855;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
div.etiqueta div img {
  line-height: 30px;
}
