/* ThemeOfficeMenu Style Sheet */

.ThemeAlbaMenu,.ThemeAlbaSubMenuTable
{
	font-family:	verdana, arial, sans-serif;
	font-size:	13px;

	padding:	0;

	white-space:	nowrap;
	cursor:		default;
}

.ThemeAlbaSubMenu
{
	position:	absolute;
	visibility:	hidden;

	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0;
	padding:	1px;
	background-color:	#FFFBEE;


	overflow:	visible;
	border:		1px solid #8C867B;

	filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDC3BD, Direction=135, Strength=4);
}

.ThemeAlbaSubMenuTable
{
	overflow:	visible;
}

.ThemeAlbaMainItem,.ThemeAlbaMainItemHover,.ThemeAlbaMainItemActive,
.ThemeAlbaMenuItem,.ThemeAlbaMenuItemHover,.ThemeAlbaMenuItemActive
{
	border:		0;
	cursor:		default;
	white-space:	nowrap;
}

.ThemeAlbaMainItem
{
    background-color:	#d9d966;
}
    
    
}
.ThemeAlbaMainItemHover,.ThemeAlbaMainItemActive
{
	background-color:	#C6D3EF;
	background-color:	red;

}

.ThemeAlbaMenuItem
{
	background-color:	WHITE;

}

.ThemeAlbaMenuItemHover,.ThemeAlbaMenuItemActive
{
	background-color:	#C6D3EF;
}


/* horizontal main menu */

.ThemeAlbaMainItem
{
	padding:	1px;
	border:		0;
}

td.ThemeAlbaMainItemHover,td.ThemeAlbaMainItemActive
{
	padding:	0px;
	border:		1px solid #3169C6;
}

.ThemeAlbaMainFolderLeft,.ThemeAlbaMainItemLeft,
.ThemeAlbaMainFolderText,.ThemeAlbaMainItemText,
.ThemeAlbaMainFolderRight,.ThemeAlbaMainItemRight
{
	background-color:	inherit;
}

/* vertical main menu sub components */

td.ThemeAlbaMainFolderLeft,td.ThemeAlbaMainItemLeft
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	2px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;
	border-left:	1px solid #3169C6;

	background-color:	inherit;
}

td.ThemeAlbaMainFolderText,td.ThemeAlbaMainItemText
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;

	background-color:	inherit;
	white-space:	nowrap;
}

td.ThemeAlbaMainFolderRight,td.ThemeAlbaMainItemRight
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	0px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;
	border-right:	1px solid #3169C6;

	background-color:	inherit;
}

tr.ThemeAlbaMainItem td.ThemeAlbaMainFolderLeft,
tr.ThemeAlbaMainItem td.ThemeAlbaMainItemLeft
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	1px;
	padding-right:	2px;

	white-space:	nowrap;

	border:		0;
	background-color:	inherit;
}

tr.ThemeAlbaMainItem td.ThemeAlbaMainFolderText,
tr.ThemeAlbaMainItem td.ThemeAlbaMainItemText
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	5px;
	padding-right:	5px;

	border:		0;
	background-color:	inherit;
}

tr.ThemeAlbaMainItem td.ThemeAlbaMainItemRight,
tr.ThemeAlbaMainItem td.ThemeAlbaMainFolderRight
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	0px;
	padding-right:	1px;

	border:		0;
	background-color:	inherit;
}

/* sub menu sub components */

.ThemeAlbaMenuFolderLeft,.ThemeAlbaMenuItemLeft
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	1px;
	padding-right:	3px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;
	border-left:	1px solid #3169C6;

	background-color:	inherit;
	white-space:	nowrap;
}

.ThemeAlbaMenuFolderText,.ThemeAlbaMenuItemText
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;

	background-color:	inherit;
	white-space:	nowrap;
}

.ThemeAlbaMenuFolderRight,.ThemeAlbaMenuItemRight
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	0px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;
	border-right:	1px solid #3169C6;

	background-color:	inherit;
	white-space:	nowrap;
}

.ThemeAlbaMenuItem .ThemeAlbaMenuFolderLeft,
.ThemeAlbaMenuItem .ThemeAlbaMenuItemLeft
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	2px;
	padding-right:	3px;

	white-space:	nowrap;

	border:		0;
	background-color:	#EFEFDE;
}

.ThemeAlbaMenuItem .ThemeAlbaMenuFolderText,
.ThemeAlbaMenuItem .ThemeAlbaMenuItemText
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	5px;
	padding-right:	5px;

	border:		0;
	background-color:	inherit;
}

.ThemeAlbaMenuItem .ThemeAlbaMenuFolderRight,
.ThemeAlbaMenuItem .ThemeAlbaMenuItemRight
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	0px;
	padding-right:	1px;

	border:		0;
	background-color:	inherit;
}

/* menu splits */

.ThemeAlbaMenuSplit
{
	margin:		2px;
	height:		1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #C6C3BD;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeAlbaMenuItem img.seq1
{
	display:	inline;
}

.ThemeAlbaMenuItemHover seq2,
.ThemeAlbaMenuItemActive seq2
{
	display:	inline;
}

.ThemeAlbaMenuItem .seq2,
.ThemeAlbaMenuItemHover .seq1,
.ThemeAlbaMenuItemActive .seq1
{
	display:	none;
}
